*{
	box-sizing:border-box;
	outline:none;
}
*:after, *:before{
	box-sizing:border-box;
	outline:none;
}
a{
	text-decoration:none;
	color:#2A2A33;
}
ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
html{
	min-height:100%;
	height:100%;
}
body{
	margin:0px;
	padding:0px;
	background:#333441;
	min-height:100%;
	height:100%;
	font-family: 'Source Sans Pro', sans-serif;
}
main{
	margin:0px;
	padding:0px;
}
.wrapper{
	width:100%;
	background: #BE93C5; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #BE93C5 , #7BC6CC); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #BE93C5 , #7BC6CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
	max-width:1920px;
	padding:0px 20px;
}
.logo{
	float:left;
}
.logo img{
	width:100px;
}
.logo p{
	color: #fff;
	font-size: 21px;
	font-weight: 700;
	margin: -16px 0 3px 11px;
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
}
header > p{
	color:#fff;
	float:right;
	font-size:18px;
	margin:0px;
	line-height:110px;
}
.ico-music{
	text-align:center;
	padding-bottom:30px;
}
.ico-music > img{
	max-width:600px;
}
.search{
	background: #fff none repeat scroll 0 0;
	border-radius: 50px;
	margin: 20px auto;
	max-width: 600px;
	padding: 5px 30px;
}
.search input[type='text']{
	border: 0 none;
	color: #333441;
	font-size: 14px;
	font-weight: 700;
	margin: 10px;
	width: 70%;
	box-shadow:none;
}
.search input[type='submit']{
	background: #be93c5 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 50px;
	color: #fff;
	float: right;
	line-height: 37px;
	position: relative;
	right: -24px;
	text-align: center;
	width: 100px;
	font-size:18px;
	cursor:pointer;
}
.result{
	background:#383A49;
}
.noresult{
	text-align:center;
	padding:80px 0px;
}
.noresult > img{
	max-width:170px;
}
.noresult > p{
	color:#464857;
	font-size:24px;
}
.sub-res{
	padding:80px 80px 0px;
}
.sub-res ul li{
	float:left;
	width:calc(28% - 60px);
	margin-right:20px;
	background:#fff;
	border-radius:3px;
	margin-top:50px;
}
.sub-res ul li:nth-child(4n){
	margin-right:0px;
}
.sub-res ul li a img{
	max-width:100%;
}
.sub-res ul li a p{
	margin-top:10px;
	margin-left:10px;
	width:93%;
	white-space:nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
footer{
	background:#333441;
}
footer p{
	color:#fff;
	text-align:center;
	font-size:18px;
	margin:30px 0px;
}
.sub-res > h3{
	color:#fff;
}
.spinner {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
header:after, .sub-res:after{
	display:block;
	clear:both;
	content:'';
	position:relative;
	height:0;
}